mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin nav(className, items, activeItem)
  nav(class=`${className}`)
     ul(class=`${className}__list`)
         each item, ndx in items
            li(class=`${className}__item` + ( (ndx===activeItem ) ? ` ${className}__item_active` : '' ) )
                a(class=`${className}__link` href='#')= item


mixin sign(className)
    .sign(class=`${className}`) © Смирнов Андрей | создано с любовью в LoftSchool | 2018

mixin auth_btn(className)
    .auth_btn
        a(class=`${className}__link` href="#") Авторизоваться


